/* stylelint-disable max-nesting-depth */
@import "~scss/variables";

.sw-mail-template-detail {
    .sw-card {
        .sw-single-select,
        .sw-multi-select {
            margin-bottom: 20px;
        }
    }

    .sw-sidebar-item {
        &__headline {
            align-items: center
        }
        &__title {
            display: flex;
            align-items: center;
        }
        &__close-button {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .sw-mail-template-detail__available-variables-sidebar {
        &-container {
            height: 100%;
            border-top: 1px solid $color-gray-300;
        }

        &-trigger-select {
            padding: 20px;
            margin-bottom: var(--scale-size-32);
        }

        &-divider {
            margin: 0 20px;
            border: none ;
            border-top: 1px solid var(--color-border-secondary-default);
        }

        &-container__tree {
            border: none;
            height: calc(100% - 171px);

            .sw-tree__content {
                height: 100%;
                //height: 427px;
            }

            .icon--regular-circle-xxs {
                display: none;
            }

            .sw-tree-item__context_button {
                display: none;
            }

            .icon--regular-folder {
                display: none;
            }

            .icon--regular-folder-open {
                display: none;
            }

            .sw-mail-template-detail__copy_icon {
                color: $color-gray-700;
                max-width: 15px;
                display: block;

                :hover {
                    color: $color-shopware-brand-500;
                }

                :active {
                    color: $color-shopware-brand-800;
                }
            }
        }
    }

    .sw-mail-template-detail__test-mail-sidebar {
        .sw-mail-template-detail__test-mail-sidebar-container {
            padding: 20px;
            border-top: 1px solid $color-gray-300;

            label {
                font-weight: bold;
            }
        }
    }

    .sw-mail-template-detail__validation-sidebar {
        &-container {
            padding: 20px;
            border-top: 1px solid $color-gray-300;
            display: flex;
            flex-direction: column;
            gap: var(--scale-size-32);

            .sw-mail-template-detail__validation-sidebar-result {
                &-divider {
                    border: none ;
                    border-top: 1px solid var(--color-border-secondary-default);
                }

                &-error,&-success {
                    display: flex;
                    padding-top: var(--scale-size-32);
                    flex-direction: column;
                    align-items: flex-start;
                    gap: var(--scale-size-16);
                    align-self: stretch;

                     &-title {
                         color: var(--color-text-primary-default);
                         font-size: var(--font-size-xs);
                         margin: 0;
                     }

                    &-element {
                        position: relative;
                        margin: 0;
                        width: 100%;
                        background-color: var(--color-background-tertiary-default);
                        padding: var(--scale-size-8);
                        gap: var(--scale-size-6);
                        border: none;

                        &-icon {
                            margin-top: var(--scale-size-2);
                        }

                        &-hint {
                            position: absolute;
                            top: var(--scale-size-8);
                            right: var(--scale-size-8);
                            color: var(--color-text-secondary-default);
                            font-size: var(--font-size-2xs);
                        }

                        .mt-banner__title {
                            position: sticky;
                            left: 0;
                        }

                        .mt-banner__body {
                            overflow-x: auto;
                        }
                    }
                }
                &-success {
                    flex-direction: row;
                    gap: var(--scale-size-6);
                }
            }
        }
    }

    .sw-mail-template-detail__attachments-info-grid {
        position: relative;
        margin-top: 20px;
        border: 1px solid $color-gray-300;
    }

    &__field-hint {
        display: flex;
        align-items: flex-start;
        gap: var(--scale-size-4);

        &-icon-container {
            margin-top: -1px;
        }
    }

}
