.sw-flow-list-flow-templates-card {
    overflow: hidden;

    .mt-card__content {
        padding: 0;
    }

    .sw-flow-list-my-templates__grid {
        .sw-flow-list-my-flows__content__update-flow-template-link {
            text-decoration: none;
            color: var(--color-text-primary-default);

            &:hover {
                text-decoration: underline;
                color: var(--color-text-brand-default);
            }
        }

        .sw-flow-list-my-templates {
            .sw-flow-list-my_templates__empty-state {
                min-height: 550px;
            }
        }
    }
}
