.sw-flow-detail-flow {
    &__content {
        display: flex;
        flex-direction: column;
        margin: auto;
        max-width: 60rem;
        transition: max-width 0.3s ease-in-out;
    }

    &__warning-unknow-trigger {
        p {
            &:nth-child(2) {
                margin-top: var(--scale-size-20);
            }
        }
    }

    &__trigger-card {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: var(--scale-size-48);
        align-items: start;
    }

    &__trigger-select {
        min-width: 324px;
        background: var(--color-elevation-surface-raised);
        border-radius: var(--border-radius-card);
        border: 1px solid var(--color-border-primary-default);
        padding: var(--scale-size-24);
        transition: all 100ms ease-in-out;
        box-shadow: 0 3px 6px 0 var(--color-elevation-shadow-default);

        &:hover {
            box-shadow: 0 6px 10px 0 var(--color-elevation-shadow-default);
        }
    }

    &__trigger-explain {
        padding: var(--scale-size-24);
        border: 2px dashed var(--color-border-primary-default);
        border-radius: var(--border-radius-card);
        width: 420px;

        h4 {
            font-size: var(--font-size-s);
            line-height: var(--font-line-height-s);
            color: var(--color-text-primary-default);
            font-weight: var(--font-weight-semibold);
            margin-bottom: var(--scale-size-8);
        }

        p {
            font-size: var(--font-size-xs);
            line-height: var(--font-line-height-s);
            color: var(--color-text-primary-default);
        }
    }

    &__oval {
        width: var(--scale-size-12);
        height: var(--scale-size-12);
        border-radius: var(--border-radius-round);
        background: var(--color-elevation-surface-raised);
        border: 1px solid var(--color-border-primary-default);
        position: absolute;
        top: -6px;
        left: -5px;
        z-index: 2;
    }

    &__sequence-diagram {
        position: relative;
        margin-left: var(--scale-size-28);
        padding: 0 0 var(--scale-size-40);
    }

    &__position {
        position: relative;
        display: flex;

        &:not(:last-child) .sw-flow-detail-flow__sequences {
            padding-bottom: var(--scale-size-64);
            border-bottom: 2px solid var(--color-border-primary-default);
            width: 100%;
        }

        & .sw-flow-detail-flow__sequences {
            padding-top: var(--scale-size-64);
        }

        & .sw-flow-detail-flow__position-connection {
            width: var(--scale-size-24);
            height: var(--scale-size-24);
            position: absolute;
            left: 0;
            top: 118px;
            border-bottom: 2px dashed var(--color-border-primary-default);
            border-left: 2px dashed var(--color-border-primary-default);
            border-bottom-left-radius: var(--scale-size-40);
        }

        &:last-child .sw-flow-detail-flow__position-plus {
            display: flex;
            align-items: center;
            justify-content: center;
            width: var(--scale-size-24);
            height: var(--scale-size-24);
            cursor: pointer;
            position: absolute;
            color: var(--color-icon-primary-default);
            top: 155px;
            left: -11px;
            background: var(--color-elevation-surface-raised);
            border-radius: var(--border-radius-round);
            border: 1px solid var(--color-border-primary-default);
            z-index: 2;

            .mt-icon {
                width: var(--scale-size-12);
                height: var(--scale-size-12);
            }

            &:hover {
                background-color: var(--color-elevation-surface-hover);
            }

            &:disabled {
                background: var(--color-background-tertiary-default);
            }
        }

        .icon--regular-chevron-right-s {
            position: absolute;
            bottom: -8px;
            right: -6px;
            color: var(--color-border-primary-default);
        }

        &:not(:last-child) .icon--regular-plus-xs {
            display: none;
        }

        &::before {
            display: block;
            content: "";
            border-left: 2px dashed var(--color-border-primary-default);
            z-index: 1;
        }

        &:last-child::before {
            display: block;
            content: "";
            height: 165px;
            border-left: 2px dashed var(--color-border-primary-default);
            z-index: 1;
        }
    }

    &__sequences {
        margin-left: var(--scale-size-32);
    }

    .sw-block-field__block {
        height: auto;
    }
}

.sw-flow-detail-flow-template {
    pointer-events: none;
}

// style for transition group.
.list-enter-active,
.list-leave-active {
    transition: all 0.5s ease-in-out;
}

.list-enter,
.list-leave-to {
    opacity: 0;
    transform: translateX(var(--scale-size-30));
}
